{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
        <section>
                {{ form_start(form) }}
                {{ form_label(form.campus) }}
                {{ form_widget(form.campus, {'attr': {'class': 'form-control'}}) }}
                <button type="submit" class="btn btn-primary">Rechercher</button>
                {{ form_end(form) }}
                <table>
                        <thead>
                        <tr>
                                <th>Sortie</th>
                                <th>Nom</th>
                                <th>Date Heure Début</th>
                                <th>Durée</th>
                                <th>Date Limite Inscription</th>
                                <th>Nombre d'Inscriptions Max</th>
                                <th>Infos Sortie</th>
                                <th>État</th>
                                <th>Campus</th>
                        </tr>
                        </thead>
                        <tbody>
                                {% for sortie in sorties %}
                                <tr>
                                        <td>{{ sortie.id }}</td>
                                        <td>{{ sortie.nom }}</td>
                                        <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                                        <td>{{ sortie.duree }}</td>
                                        <td>{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
                                        <td>{{ sortie.nbInscriptionsMax }}</td>
                                        <td>{{ sortie.infosSortie }}</td>
                                        <td>{{ sortie.etat ? sortie.etat.libelle : 'N/A' }}</td>
                                        <td>{{ sortie.campus ? sortie.campus.nom : 'N/A' }}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                </table>
        </section>
{% endblock %}
